<mat-toolbar class="mat-primary">
  <button mat-icon-button
          [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu"
            xPosition="before">
    <button mat-menu-item
            routerLink="/badge-sample">badge-sample</button>
    <button mat-menu-item
            routerLink="/checkbox-sample">checkbox-sample</button>
    <button mat-menu-item
            routerLink="/dialog-sample">dialog-sample</button>
    <button mat-menu-item
            routerLink="/form-field-sample">form-field-sample</button>
    <button mat-menu-item
            routerLink="/menu-sample">menu-sample</button>
    <button mat-menu-item
            routerLink="/select-sample">select-sample</button>
  </mat-menu>

  <span>{{title}}</span>
</mat-toolbar>

<div class="div-padding">
  <router-outlet></router-outlet>
</div>
