<span class="mat-title">{{title}}</span>

<mat-toolbar class="mat-primary">
  <mat-toolbar-row>
    <a href="https://material.angular.io/"
       rel="noopener noreferrer"
       target=”_blank”>Angular Material</a>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <button mat-raised-button
            routerLink="/badge-sample">badge-sample</button>
    <button mat-raised-button
            routerLink="/checkbox-sample">checkbox-sample</button>
    <button mat-raised-button
            routerLink="/dialog-sample">dialog-sample</button>
    <button mat-raised-button
            routerLink="/form-field-sample">form-field-sample</button>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
