<h2>select-sample works!</h2>

<div class="div-padding">

  <div>
    <mat-form-field>
      <mat-label>ランクを選択</mat-label>
      <mat-select (selectionChange)="onSelectionChange($event)">
        <mat-option *ngFor="let rank of ranks"
                    [value]="rank">{{rank.value}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>選択結果</mat-label>
      <input matInput
             placeholder="選択結果"
             readonly=true
             [ngModel]="selectedValue" />
    </mat-form-field>
  </div>

</div>
