<h2>dialog-sample works!</h2>

<div>

  <button mat-raised-button
          (click)="onOpenDialog1()">Open Dialog (パターン1)</button>
  <div>
    <mat-form-field>
      <mat-label>結果1</mat-label>
      <input matInput
             placeholder="結果1"
             [(ngModel)]="dialogResult1" />
    </mat-form-field>
  </div>

</div>

<div>

  <button mat-raised-button
          (click)="onOpenDialog2()">Open Dialog (パターン2)</button>
  <div>
    <mat-form-field>
      <mat-label>結果2</mat-label>
      <input matInput
             placeholder="結果2"
             [(ngModel)]="dialogResult2" />
    </mat-form-field>
  </div>

</div>
